.navbar {
  background-color: var(--card-bg);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.navbar-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-left: 30px;
}

.nav-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--primary-color);
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.menu-icon:hover {
  color: var(--primary-color);
}

.cart-icon {
  font-size: 20px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    flex-direction: column;
    background-color: var(--card-bg);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
  }

  .nav-menu.active {
    max-height: 300px;
    border-top: 1px solid #ccc;
  }

  .nav-item {
    margin: 15px 0;
    text-align: center;
  }
}
